.Header {
  background-color: #0f1111;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header-logo {
  margin: 15px;
}
.Header img {
  width: 100px;
  margin-left: 20px;
}
.Header-optionAddress {
  margin: 5px;
}
.Header-option {
  display: flex;
  flex-direction: column;
  padding: 9px;
}
.Header-optionLineTwo {
  font-weight: bold;
}
.Header-search {
  flex-grow: 1;
  display: flex;
  height: 46px;
  border-radius: 4px;
  overflow: hidden;
  margin: 15px;
  min-width: 50%;
  max-width: 65%;
}
.Header-navSearch {
  position: relative;
}
.Header-navSearchCard {
  display: flex;
  align-items: center;
  color: black;
  background: #f3f3f3;
  height: 100%;
  padding-left: 15px;
  padding-right: 5px;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  position: absolute;
  top: 5px;
  left: 23px;
  opacity: 0;
  width: 10px;
}
.Header-searchIconContainer {
  width: 5em;
  background-color: #febd69;
  color: rgba(17, 17, 17, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header-search input {
  width: 100%;
  border: none;
  font-size: 15px;
}
.Header-search input:focus {
  outline: none;
}
.Header-languageCard img {
  width: 25px;
  height: 18px;
}
.Header-search:focus-within {
  box-shadow: 0 0 0 3px #f90;
}

.Header-language {
  position: relative;
}

.Header-languageCard {
  display: flex;
  align-items: flex-end;
}
.Header-navItems {
  display: flex;
  flex-direction: row;
}
.parts {
  width: 80%;
  margin-left: 18px;
}
a {
  display: flex;
  flex-direction: row;
  color: #f3f3f3;
  text-decoration: none;
}
.Header-optionCart {
  display: flex;
  align-items: center;
  padding: 9px;
  position: relative;
}
.Header-cartCount {
  font-weight: bold;
  color: #f08804;
  position: absolute;
  left: 22%;
  top: 9%;
  text-shadow: 2px 1px 1px#0f1111;
}
.Header-cartSign {
  align-self: flex-end;
  font-weight: bold;
}
.SubHeader {
  background-color: #232f3e;
  color: white;
  font-weight: 700;
}
