.Product {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: white;
  z-index: 1;
  margin: 20px;
  padding: 20px;
  min-width: 350px;
}
.Product-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Product-rating {
  display: flex;
}
.Product img {
  min-height: 200px;
  max-height: 250px;
  max-width: 150px;
}
.Product button {
  margin: 8px;
  background-color: #f0c14b;
  width: 100px;
  height: 30px;
  border: 2px solid #a88734;
  border-radius: 3px;
}
